<div>
    <h2>Demo on attribute binding</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th [attr.rowspan]="rowspanValue">Name</th>
                <th [attr.colspan]="colspanValue">Price</th>
            </tr>
            <tr>
                <th>Rs.</th>
                <th>Ps.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Egg</td>
                <td>5</td>
                <td>25</td>
            </tr>
        </tbody>
    </table>
</div>