<div class="container-fluid">
  <div class="row">
    <div class="col-6 border border-success border-4">
      <app-user-store></app-user-store>
    </div>
    <div class="col-5 border border-success border-4">
      <app-userlist></app-userlist>
    </div>
  </div>
  <div class="row">
    <div class="col-6 border border-success border-4">
      <app-user-delete></app-user-delete>
    </div>
    <div class="col-5 border border-success border-4">
      <app-user-update></app-user-update>
    </div>
  </div>
</div>